

.search-header{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #DE3163; */
    color: rgb(185, 0, 99);
}

.search-header h2{
   font-size: 3em;
}

.search-header p{
    font-size: 1.5em;
}


.home-router a{
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #DE3163;
    font-family: Arial, Helvetica, sans-serif;
}

.home-router a:link{
    text-decoration: none;
 
}

.home-router a:hover{
    text-decoration: underline;
    cursor: pointer;
 
}

.search-results{
    margin-left: 10%;
}

.search-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 800px;
    align-items: center;
    margin-left: 10%;
    justify-content: center;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  

  .search-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(+5px);
    /* you can remove the tranform part too */
     opacity: 1; 
  }
  
/* Main mapping area */
  .search-container{
    padding: 2px 16px;
    padding-bottom: 5%;
  }

  /* work on colors */
  .search-container h3{
    font-size: 1.5em;
    color: rgb(185, 0, 99);

  }
  
  .search-container p{
    overflow: hidden; 
    /* hidden the overflow for long text */
  }

  .search-container a{
    text-decoration: none;
    /* color: #DE3163; */
    color: #ED9121;
    /* color: #6e69fd; */
  }


  .search-container a:visited{
    text-decoration: none;
    /* color: #DE3163; */
    color: #ED9121;
     /* color: #6e69fd; */

  }

  .search-container a:hover{
    text-decoration: underline;
    cursor: pointer;
  }

 .description{
  margin-bottom: 5%;
 }

 .location{
  color: #ED9121;


 }

 .contact{

 }
  .search-image{
   max-width: 50%;
   /* work on max width for different images */
    
  }
  
  .search-pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
  }

  .home-router a{
    color: rgb(185, 0, 99);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }

/* Mobile responsive */
@media only screen and (max-width: 768px){

  .search-body{
    scroll-behavior: smooth;
  }

  .search-results{
    margin-left: none;
    margin-right: 30%;
  }
    .search-card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 350px;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: -7%;
      }

      .search-pagination{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .home-router a{
        color: rgb(185, 0, 99);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }


 
}