.search-header{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}

.search-header h2{
   font-size: 3em;
}

.search-header p{

}


.search-header a{
    text-decoration: none;
    color: #DE3163;
}

.search-header a:link{
    text-decoration: none;
 
}

.search-header a:hover{
    text-decoration: underline;
    cursor: pointer;
 
}


.search-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 400px; */
  
    /* padding: 2%; */
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  

  .search-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(+5px);
    /* you can remove the tranform part too */
     opacity: 1; 
  }
  
  .search-card h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
  }
  
  .search-card p{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; 
    /* hidden the overflow for long text */
  }
  .search-container{
    padding: 2px 16px;
  }