


.home-section{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin: 0 auto;
    margin-top: 30vh;
    width: 80%;
    text-align: center;
}

.home-logo{
   font-size: 2.5em;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-button{
   align-items: center;
   margin-right: 0%;

} 

.home-button:hover{
    cursor: pointer;
}

