.home-auto{
margin:auto;
}

/* home search  */

.home-search{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  
}


.search-box input{
  

  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
 
}

.search-icon{
  
  
}