.resource-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  }

  .resource-header hr{
    max-width: 200px;
    margin: 0px;
    border:none;
    height: 3px;
    background-color:#DE3163;
    margin-top: -30px;
  }

  .resource-container {
    display: flex;
    justify-content: space-between; /* Ensures space between filter and results */
    align-items: flex-start; /* Align items to the top */
  }

.resources-results{

 /* padding-top: 10%; */
 padding-right: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 12%;
  min-width: 50%;


}


.resources-results h2{
  font-size: 1.5em;
 
}

.resources-results p{
  font-size: 1em;
}

.resources-results a{
  text-decoration: none;
  
}

.resources-results a:link{
  text-decoration: none;
  color: #DE3163;
}

.resources-results a:visited{
  text-decoration: none;
  color: #c51244;
}

.resources-results a:hover{
  text-decoration: none;
  color: #c51244;
  font-size: larger;
  
}

 .resources-image{
  width: 40%;
 }

 .resources-list {
  
 }


 .resources-list li{
  list-style-type: none;
 }

 .resource-location{

 }
 .location-icon{
  transform: scale(1.5); 
  fill: #DE3163;

 }

/* implement pagination */

.paginationBttns {
  width: 80%;
  height: 50px;
  margin-top: 5%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  /* margin: 0; */
  
}

.paginationBttns a {
  padding: 10px 20px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #DE3163;
  color: #DE3163;
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
  display: inline-block; /* Ensure it takes up space */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.paginationBttns a:hover,
.paginationBttns a:focus {
  color: white;
  background-color: #DE3163;
  outline: none; /* Remove focus outline */
  cursor:pointer;
}

.paginationActive a {
  color: white;
  background-color: #DE3163;
}

.filter-box{
  margin-top: 10%;
  margin-right: 5%;
  width: 300px; /* Set a fixed width */
  border: 2px none;
  height: fit-content; /* Adjust based on content */
  padding: 3%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  background-color: #e64875;
  /* border-color: white;  */
}

.filter-box input{
  box-sizing: border-box;
  height: 35px;
  font-size: 14px;

}

.filter-search-box{
  width: 200px;
}

.filter-box p{
  font-size: 1.8em;
  font-weight: bolder;
  color: white;
}

.filter-box label{
  color: white;
}

/* hide mobile filter box for large screens */
.mobile-filter-box{
  display: none;
}

.mobile-filter-checkbox{
  display: none;

 }


/* Media Responsive */

@media only screen and (max-width: 768px) {

  .resources-results{
 
    margin-top: 10%;
    text-align: left;
    margin-right: none;
    margin-left: 1%;
    
    
   }

   .filter-box{
    display: none;
   }

   .mobile-filter-box{
    border: 2px none;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
   }
   .mobile-filter-search-box{
    width: 300px;
    height: 30px;
    margin-left: 1%;
    font-size: 15px;
   }
   .mobile-filter-box p{
    margin-left: 1%;
   }

   .mobile-filter-checkbox{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
  
   }

   .paginationBttns {
    width: 80%;
    height: 50px;
    margin-top: 5%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 10%;
    /* margin: 0; */
    
  }

  .toggle-filter{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 3%;
  }


}

@media only screen and (max-width: 478px) {

  .resources-results{
 
    margin-top: 10%;
    text-align: left;
   }
}