

.events-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color:  rgb(139, 21, 84);
  }

  .events-header hr{
    max-width: 200px;
    margin: 0px;
    border:none;
    height: 3px;
    background-color:#DE3163;
    margin-top: -30px;
    margin-bottom: 5%;
  }

  .events-header span{
    font-size: 0.9em;
   }

   .events-header p{
    font-size: 0.5em;
  
   }
 

  /* hottest events */
  .hottest-events{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height:fit-content;

  }

 
  .hottest-events span{
  
    /* width: 50%;
    height: 40%; */
    /* padding: 7%; */
    margin-right: 10px;
    margin-left: 10px;
  }

    
    .hottest-events::-webkit-scrollbar {
      height: 4px;
      width: 4px;

    }

    /* cincy city planners */
    .cincy-planners{
      font-family: Arial, Helvetica, sans-serif;
      color:  rgb(139, 21, 84);
      padding-right: 10%;
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 12%;
      min-width: 50%;

    }
    .cincy-planners span{
      font-size: 1.5em;
    }

    .cincy-planner{
      display: flex;
      flex-direction: row;
      padding: 6%;
     
    }
    .cincy-planner span{
      width: 100px;
      /* overflow: hidden;  */
    }

    .cincy-planners-list{
      list-style-type: none;
    }

    .cincy-planners-image{
      width: 100px;
    }

  
  @media (max-width: 768px) {
  
    .events-header span{
      font-size: 0.9em;
      
     }
  
     .events-header p{
      font-size: 0.4em;
      padding-left: 5%;
      margin-bottom: -13%;
     }

 

    .hottest-events span {
      justify-content: center;
      width: 90%; /* Use a percentage for a responsive width */
      /* Less margin on mobile */
      margin-right: 10px;
      margin-left: 10px;
      transform: scale(0.8);
      
    }
  
    /* Optional: Hide scrollbar */
  .hottest-events::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}